*{
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#submit{
    justify-content: center;
    width: 20%;
    align-items: center;
    
}
.sub{
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    color: rgb(69, 69, 69);
}
.main{
    h1{
        padding: 10px;
        text-align: center;
    }
    width:60%;
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-radius: 90px;
    .title{
        text-align: center;
        margin-top: 10px;
    }
    .order{
        div{
            margin: 5px;
        }
        display: flex;
        justify-content: space-around;
        .left, .right{
            border: 1px solid black;
            min-height: 80%;
            
        }
    }
}